[Unit]
Description=Run Fundamentus technical analysis every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=fundamentus-bot.service

[Install]
WantedBy=timers.target