[Unit]
Description=Run Fundamentus Bot every 12 hours

[Timer]
OnBootSec=2min
OnUnitActiveSec=12h
Unit=fundamentus-bot.service

[Install]
WantedBy=timers.target
