[Unit]
Description=Run Fundamentus technical analysis every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
AccuracySec=10s
Unit=fundamentus-bot.service

[Install]
WantedBy=timers.target