[Unit]
Description=Fundamentus Bot Run
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=daniil
WorkingDirectory=/home/daniil/Fundamentus/bot
ExecStart=/home/daniil/Fundamentus/.venv/bin/python /home/daniil/Fundamentus/bot/main.py
StandardOutput=append:/home/daniil/Fundamentus/bot/logs/fundamentus.log
StandardError=append:/home/daniil/Fundamentus/bot/logs/fundamentus_error.log
